<div class="panel with-nav-tabs panel-info">
  <div class="panel-heading">
    <h2 id="showtime"></h2>
            
    <h2 class="fa fa-wechat"></h2>
    <font size="5" color="red">NewFriend 1</font>
    <br> 
    
    <h2 class="fa fa-wechat"></h2>
    <font size="5" color="red">NewFriend 2</font>
    <br>
    
    <h2 class="fa fa-wechat"></h2>
    <font size="5" color="red">NewFriend 2</font>
    <br>
  </div>
  <div class="panel-footer">
    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal">查看新好友
    </button>
  </div>
</div>
<!-- 连接到 _search_friends
  <%= render "search_fridends" %>
  
  
  